.partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 12px;
    margin: 2rem;
    margin-bottom: 3rem;
    // min-height: 80vh;
}

.partner-text {
    width: 80%;
    & > * {
    color: #333;
    margin-bottom: 2rem;
    font-weight: 700;
    }
    & > h2 {
    color: #333;
    margin-bottom: 2rem;
    font-size: 50px;
    font-weight: 700;
    }
    & > p {
    font-weight: 400;
    font-size: 20px;
    }
    & > h2 span {
    display: block;
    color: #533E85;
    font-weight: 700;
    font-size: 50px;
    }
    partner-buttons a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    }
}
.partner-image {
    margin-left: 4rem;
    display: table-column;
}
.partner-image img {
    width: 150px;
    height: 100px;
}


    @media screen and (max-width: 600px) {
    .partner {
    flex-direction: column;
    }

    .partner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    }
    .partner-image {
    width: 100%;
    &img {
        width: 100%;
    }
    }
}
