.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    min-height: 80vh;
    margin-top: 10rem;
}

.section-text {
    width: 80%;
    & > * {
    color: #333;
    margin-bottom: 2rem;
    font-weight: 700;
    }
    & > h2 {
    color: #333;
    margin-bottom: 2rem;
    font-size: 50px;
    font-weight: 700;
    }
    & > p {
    font-weight: 400;
    font-size: 20px;
    }
    & > h2 span {
    display: block;
    color: #533E85;
    font-weight: 700;
    font-size: 50px;
    }
    & .hero-buttons a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    }
}
.section-image {
    width: 50%;
    text-align: center;
}
.section-image img {
    width: 100%;
}

.container-right {
        background-color: #fff;
        border-radius: 15px;
        border: 0.5px;
        border-color: #ced2da;
        border-style: solid;
        width: 100%;
        height: 100%;
        margin: 48px 0px 0px;
        padding: 48px;
    }
.container-right h2 {
    font-weight: 700;
    margin: 0px 0px 16px;
    color: #3A3D42;
}
.container-right h2 span {
        color: #533E85;
    }


    @media screen and (max-width: 600px) {
    .section {
    flex-direction: column;
    }

    .section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    }
    .section-image {
    width: 100%;
    &img {
        width: 100%;
    }
    }
}
